* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

/* ----------nav start---------- */
.nav {
    width: 100%;
    height: 94px;
    color: #FFFFFF;
    background-color: #562EFF;
}

.logo img {
    width: 40.42px;
    height: 51px;
}

.logo {
    display: flex;
    align-items: center;

}

.logo ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
}

.logo ul li {
    padding: 36px;
}

.right {
    padding-left: 452px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo ul li h3 {
    font-size: 24px;
}

.right {
    font-size: 16px;
}

.right img {
    width: 51px;
    height: 51px;
}

/* ----------nav end---------- */

/* main section start */

/* ---------top players start---------- */

main {
    display: flex;
    justify-content: center;
    background-color: #F3F1FF;
    padding-top: 36px;
    flex-direction: column;
}

.container1 {
    width: 870px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.container1 h3 {
    padding-top: 33px;
    padding-bottom: 40px;
    padding-left: 33px;
    color: #562EFF;
}

.player img {
    width: 56px;
    height: 56px;
}

.top-players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-bottom: 30px;
}

.player a {
    padding-left: 16px;
    text-decoration: none;
}

hr {
    width: 807px;
    margin: auto;
    color: #D1D1D1;
}

/* ---------top players end---------- */

/* ---------top blog srat---------- */
.top-blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 34px;
    padding-left: 30px;
    padding-bottom: 34px;
}

.blog img {
    width: 177px;
    height: 117px;
}

.blog {
    display: flex;
    align-items: center;
}

p {
    padding-left: 16px;
}

/* ---------top blog srat---------- */
.container2 {
    width: 870px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-top: 21px;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    width: 252px;
    height: 270px;
    border: 1px solid black;
}

.card img {
    width: 224px;
    height: 104px;
}

.image {
    display: flex;
    justify-content: center;
}

.card p {
    display: flex;
}